{% extends "gui_app/base.html" %}
{% block title %}BaseImage Edit{% endblock %}
{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}

{% block content %}
<div class="cc-title">BaseImage Detail</div>
<br>
	<form method="post" action="{% url 'app:baseImageEdit' baseImage.id %}">
		<input id="id" type="hidden" name="id" value="{{ baseImage.id }}">
		<input id="auth_token" type="hidden" name="auth_token" value="{{ baseImage.auth_token }}">
		{% include "gui_app/baseImage/includes/formbaseImage.html" %}
	</form>
{% endblock %}

{% block bodyscript %}{% endblock %}