{% extends "gui_app/base.html" %}
{% block title %}Cloud Edit{% endblock %}
{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}

{% block content %}
<div class="cc-title">Cloud Detail</div>
<br>
	<form method="post" action="{% url 'ccgui:cloudEdit' cloud.id %}">
		<input id="id" type="hidden" name="id" value="{{ cloud.id }}">
		{% include "gui_app/cloud/includes/formCloud.html" %}
	</form>
{% endblock %}

{% block bodyscript %}{% endblock %}