{% extends "gui_app/base.html" %}
{% block title %}Role management{% endblock %}
{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>Role management</li>
{% endblock %}
{% block content %}

<form method="post" action="{% url 'app:assignmentEdit' project_id %}">
{% csrf_token %} {% include "gui_app/includes/message.html" %}
<div class="cc-title" style="margin-top: 20px;">Assignment Edit</div>
<br>

<div>
	<button class="btn btn-primary btn-sm" style="float:right" onclick="location.href='{% url 'app:assignmentAdd' project_id %}'" type="button">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;NEW
	</button>
</div>

    {% if assignments %}
    	<table class="table table-hover">
			<thead>
				<tr>
					<th>Check</th>
					<th>No</th>
					<th>Account Name</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
        {% for assignment in assignments %}
            	<tr>
            		<td><input name="chk-{{assignment.id}}" id="chk-{{assignment.id}}" checked type="checkbox"></td>
					<td>{{assignment.id}}</td>
					<td>{{ assignment.name }}</td>
					<td>
					{% if  assignment.account_id != account_id %}
					<select class="form-control" name="sel-{{assignment.id}}" id="sel-{{assignment.id}}"   >
				        <option value=""></option>
				        {% for r in roleList %}
						   <option value="{{ r.id }}" {% if  assignment.role == r.id %} selected="selected" {% endif %}>
						       {{ r.name }}
						   </option>
						{% endfor %}
				    </select>
				    {% else %}
				    <select class="form-control" name="sel-{{assignment.id}}" id="sel-{{assignment.id}}" disabled="disabled"  >
				        <option value=""></option>
				        {% for r in roleList %}
						   <option value="{{ r.id }}" {% if  assignment.role == r.id %} selected="selected" {% endif %}>
						       {{ r.name }}
						   </option>
						{% endfor %}
				    </select>
				    <input name="sel-{{assignment.id}}" id="sel_old-{{assignment.id}}" value="{{ assignment.role }}" type="hidden">
				    {% endif %}
				    <input name="sel_old-{{assignment.id}}" id="sel_old-{{assignment.id}}" value="{{ assignment.role }}" type="hidden">
					</td>
					<td>　</td>
				</tr>
        {% endfor %}
        		</table>
    {% else %}
        There is no role.
    {% endif %}
	<div class="button_center">
		<button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;　Save</button>
	</div>
</form>
{% endblock %}

{% block bodyscript %}{% endblock %}