{% block nav %}
<aside class="aside">
	<div class="aside-inner">
		<nav class="sidebar" data-sidebar-anyclick-close="">
			<div style="font-size:7pt; color:#808080; margin-top: 5px;">Project selection:</div>
			<select class="form-control" style="width:90%; margin-bottom: 10px; margin-left: 5px;">
				<option>A-Projrct</option>
				<option>B-Projrct</option>
				<option>C-Projrct</option>
			</select>
			<div class="menu-menu"></div>
			<ul class="nav">
				<li class="active">
					<a href="#">
						<span class="glyphicon glyphicon-home cc-icon" aria-hidden="true"></span>　Home
					</a>
				</li>
			</ul>
			<div class="var-heading">Management</div>
			<ul class="nav">
				<li>
					<a href="{% url 'ccgui:projectList' %}">
					<span class="glyphicon glyphicon-folder-close cc-icon" aria-hidden="true"></span>　Project</a>
				</li>
				<li>
					<a href="{% url 'ccgui:cloudList' %}">
					<span class="glyphicon glyphicon-cloud cc-icon" aria-hidden="true"></span>　Cloud</a>
				</li>
				<li>
					<a href="#">
					<span class="glyphicon glyphicon-th-large cc-icon" aria-hidden="true"></span>　Provisionning</a>
				</li>
				<li>
				<a href="#">
				<span class="glyphicon glyphicon-cog cc-icon" aria-hidden="true"></span>　Support
				</a>
				</li>
			</ul>
			<br>
			<div class="var-heading">Various settings</div>
			<ul class="nav">
				<li>
					<a href="#">Cloud registration</a>
				</li>
				<li>
					<a href="#">Make new application</a>
				</li>
				<li>
					<a href="#">Application environment</a>
				</li>
				<li>
					<a href="#">Deploying applications</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>
{% endblock %}
