{% extends "gui_app/base.html" %}
{% block title %}Environment Select{% endblock %}
{% block headerscript %}
{% endblock %}
{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>Make new application</li>
{% endblock %}
{% block content %}
<div class="cc-title">Make new application</div>
		{% if request.session.environment_manage or request.session.environment_create  %}
		<div>
			<button class="btn btn-primary btn-sm" style="float:right" onclick="location.href='{% url 'app:mkappEnvironmentCreate' %}'" type="button">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;　new
			</button>
		</div>
		{% endif %}
<form method="post" action="{% url 'app:mkappEnvironmentSelect' %}">
	<div class="cc-select">
		{% csrf_token %}
		{% include "gui_app/includes/message.html" %}
		<h3>Environment select</h3>
		<div class="form-group">
	    	<label><span id="req">*</span>Environment</label>
			<select class="form-control" name="id" id="id">
		        <option value=""></option>
				{% for env in list %}
					<option value="{{ env.id }}" {% ifequal env.id environment.id%} selected="selected"{% endifequal %}>
					{{ env.name }}
					<input id="name" type="hidden" name="name" value="{{ env.name }}"></option>
				{% endfor %}
		    </select>
	    </div>
	    	<div class="cc-desc" id="contents-reload"> Display the contents </div>
		<div class="button_left">
			<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'app:mkappApplicationCreate' %}'" >
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				 &nbsp;　back
			</button>
			<span class="delete_btn">
				<button type="submit" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;　next
				</button>
			</span>
		</div>
	</div>
</form>
{% endblock %}

{% block bodyscript %}{% endblock %}