{% csrf_token %}
{% include "gui_app/includes/message.html" %}
	<input id="project_id" type="hidden" name="project_id" value="{{ cloud.project_id }}">
	<div class="cc-select">
	    <div class="form-group">
	    	<label><span id="req">*</span>Cloud name</label>
	        <input id="name" name="name" type="text" class="form-control" value="{{ cloud.name }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>Cloud type</label>
			<select class="form-control" name="type" id="type">
		        <option value=""></option>
		        {% for c in cloudType %}
				   <option value="{{ c.value }}" {% if  cloud.type == c.name %} selected="selected" {% endif %}>
				       {{ c.value }}
				   </option>
				{% endfor %}
		    </select>
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>key</label>
	        <input id="key" name="key" type="text" class="form-control" value="{{ cloud.key }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>secret</label>
	        <input id="secret" name="secret" type="text" class="form-control" value="{{ cloud.secret }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>entry_point</label>
	        <input id="entry_point" name="entry_point" type="text" class="form-control" value="{{ cloud.entry_point }}">
	    </div>
	    <div class="form-group">
	    	<label>Description</label>
	        <textarea id="description" name="description" class="form-control">{{ cloud.description }}</textarea>
	    </div>
	    <div class="form-group">
	    	<label>tenant_name</label>
	        <textarea id="tenant_name" name="tenant_name" class="form-control">{{ cloud.tenant_name }}</textarea>
	    </div>
   		<div class="button_center">
			<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;save</button>
		</div>
    </div>