{{ form.non_field_errors }}
<div class="form-group">
   	<label><span id="req">*</span>Environment</label>
	<select class="form-control" name="id" id="id">
        <option value=""></option>
		{% for env in list %}
			<option value="{'id': {{ env.id }}, 'name': '{{ env.name }}'}" {% ifequal env.id|add:"0" environment.id|add:"0" %} selected="selected"{% endifequal %}>
			{{ env.name }}
			</option>
		{% endfor %}
    </select>
    {{ form.id.errors }}
</div>
   	<div class="cc-desc" id="contents-reload"> Display the contents </div>
