{% load bootstrap %}
    {% csrf_token %}
	<div class="cc-select">
	    <div class="form-group">
	    	<label><span id="req">*</span>Cloud</label>
	        <input id="cloud_id" name="cloud_id" type="text" class="form-control" value="{{ baseImage.cloud_id }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>OS</label>
	        <input id="os" name="os" type="text" class="form-control" value="{{ baseImage.os }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>source_image</label>
	        <input id="source_image" name="source_image" type="text" class="form-control" value="{{ baseImage.source_image }}">
	    </div>
	    <div class="form-group">
	    	<label><span id="req">*</span>ssh_username</label>
	        <input id="ssh_username" name="ssh_username" type="text" class="form-control" value="{{ baseImage.ssh_username }}">
	    </div>
   		<div class="button_center">
			<button class="btn btn-success" type="submit">save</button>
		</div>

	    <div class="row">
	        <div class="col-md-10">
	            {% if message %}
	                <span>{{ message }}</span>
	            {% endif %}
	        </div>
	    </div>
    </div>