{% extends "gui_app/base.html" %}
{% block title %}Project Edit{% endblock %}
{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}

{% block content %}
<div class="cc-title">Project Edit</div>
<br>
	<form method="post" action="{% url 'ccgui:projectEdit' project.id %}">
		<input id="id" type="hidden" name="id" value="{{ project.id }}">
		{% include "gui_app/project/includes/formProject.html" %}
	</form>
{% endblock %}

{% block bodyscript %}{% endblock %}