{% extends "gui_app/base.html" %}
{% load bootstrap %}
{% block title %}Project edit{% endblock %}
{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}

{% block content %}
	<form method="post" action="{% url 'ccgui:projectEdit' project.id %}">
		<input id="id" type="hidden" name="id" value="{{ project.id }}">
		{% include "gui_app/project/includes/formProject.html" %}
	</form>
{% endblock %}

{% block bodyscript %}{% endblock %}